.img-regis{
    width: 100%;
    height: auto    ;
}

.sec-8 {
    background-image: url(../img/bg_reservation-form.jpg);
    background-attachment: fixed;
    @include bg();

    .mn-sec {
        padding: $sec-padding;

        .mn-form {
            background-color: $white;
            border-radius: 20px;
            overflow: hidden;

            .form-side {
                padding: 25px 64px;

                .row-1 {
                    padding: 10px 0;

                    .name {
                        padding: 12px 20px;
                    }

                    .custom-form-control {
                        background-color: rgba($color: $secondary_color, $alpha: .1);
                        color: #5c5c5c;
                        border: 1px solid #5c5c5c;
                    }

                    .btn_buy-now {
                        margin-top: 0 !important;
                        margin-top: 30px;
                        padding: 12px 58px;
                        font-size: 20px;
                        border-radius: 50px;
                        color: $white;
                        background-color: $primary_color;
                        letter-spacing: 5px;

                        &:hover {
                            color: $white;
                            background-color: $secondary_color;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:1200px) {
    .sec-8 {

        .mn-sec {
            padding: 110px 0;

            .mn-form {

                .form-side {
                    .row-1 {
                        .name {
                            padding: 8px 0;
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:1024px) {
    .sec-8 {

        .mn-sec {
            padding: 110px 0;

            .mn-form {

                .form-side {
                    .row-1 {
                        .name {
                            padding: 8px 0;
                            padding-left: 20px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:575px) {
    .sec-8 {
        padding: 0 10px;

        .mn-sec {
            padding: 110px 0;

            .mn-form {

                .form-side {
                    .row-1 {
                        gap: 20px;

                        .name {
                            padding: 8px 0;
                            padding-left: 20px;
                            width: 100%;
                        }

                        .btn_buy-now {
                            margin-top: 30px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:480px) {
    .sec-8 {

        .mn-sec {
            padding: $sec-padding;

            .mn-form {
                background-color: $white;
                border-radius: 20px;
                overflow: hidden;

                .form-side {
                    padding: 24px;

                    .row-1 {
                        padding: 6px 0;

                        .name {
                            padding: 10px 15px;
                            width: 100%;
                        }

                        .btn_buy-now {
                            margin-top: 25px;
                            padding: 8px 25px;
                            font-size: 16px;
                            border-radius: 50px;
                            color: $white;
                            background-color: $primary_color;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
        }
    }

}

@media screen and(max-width:375px) {
    .sec-8 {

        .mn-sec {
            padding: $sec-padding;

            .mn-form {
                background-color: $white;
                border-radius: 20px;
                overflow: hidden;

                .form-side {
                    padding: 15px 10px;

                    .row-1 {
                        padding: 6px 0;

                        .name {
                            padding: 10px 15px;
                            width: 100%;
                        }

                        .btn_buy-now {
                            margin-top: 25px;
                            padding: 8px 25px;
                            font-size: 16px;
                            border-radius: 50px;
                            color: $white;
                            background-color: $primary_color;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
        }
    }

}

@media screen and(max-width:320px) {
    .sec-8 {

        .mn-sec {
            padding: $sec-padding;

            .mn-form {
                background-color: $white;
                border-radius: 20px;
                overflow: hidden;

                .form-side {
                    padding: 15px 20px;

                    .row-1 {
                        padding: 6px 0;

                        .name {
                            padding: 10px 15px;
                            width: 100%;
                        }

                        .btn_buy-now {
                            margin-top: 25px;
                            padding: 8px 25px;
                            font-size: 16px;
                            border-radius: 50px;
                            color: $white;
                            background-color: $primary_color;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
        }
    }

}

@media screen and(max-width:320px) {
    .sec-8 {

        .mn-sec {
            padding: 70px 0;
        }
    }

}