.sec-10{
    background-color: $primary_color;
    .mn-sec{
        padding: 24px 0;
    }
}

@media screen and(max-width:1200px) {
    .sec-10{
        background-color: $primary_color;
        .mn-sec{
            padding: 20px 0;
            font-size: 18px;
        }
    }
}

@media screen and(max-width:480px) {
    .sec-10{
        background-color: $primary_color;
        .mn-sec{
            padding: 10px 0;
            font-size: 12px;
        }
    }
}